# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/
.venv/

# Django
db.sqlite3
staticfiles/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated Data
resulting_pcap_files/
media/